@model Ghor_Sheba.Models.LoginUser

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Manager/IndexLayout.cshtml";
}



<div id="page-wrapper">
    <div>
        <h2>Profile Information</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fullname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fullname)
            </dd>

        </dl>
    </div>
    <p>
        <a href="/Manager/EditProfile/@Model.id" class="btn btn-success">Update</a>
        <a href="/Manager/Add" class="btn btn-success">Change Photos</a>
        <a href="/Manager/Change_Password/@Model.id" class="btn btn-success">Change Password</a>
        <a href="/Manager/Index" class="btn btn-success">Back to List</a>
    </p>
</div>
