@model IEnumerable<BEL.CustomerModel>

@{
    ViewBag.Title = "Customer_List";
    Layout = "~/Views/Manager/IndexLayout.cshtml";
}

<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="d-flex align-items-center me-3">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                Customer All Data Information
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1"># List View</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">

        <!--begin::Row-->
        <div class="row gy-5 gx-xl-8">
            <!--begin::Col-->
            <div class="col-xl-12">
                <!--begin::Tables Widget 9-->
                <div class="card card-xxl-stretch mb-5 mb-xl-8">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder fs-3 mb-1">Customer List Information</span>
                            <span class="text-muted mt-1 fw-bold fs-7">All customer list</span>
                        </h3>
                    </div>
                    <!--end::Header-->
                    <hr />
                    <!--begin::Body-->
                    <div class="card-body py-3">
                        <!--begin::Table container-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <!--begin::Table head-->
                               
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr style="background-color: #E74C3C; color:white !important">
                                            <th style="text-align: center; width:8%;">User Id</th>
                                            <th style="text-align: center; width:8%;">Address</th>
                                            <th style="text-align: center;" class="min-w-100px">Phone</th>
                                            <th style="text-align: center;" class="min-w-100px">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="text-align: center;" class="min-w-100px">
                                                    @Html.DisplayFor(modelItem => item.user_id)
                                                </td>
                                                <td style="text-align: center;" class="min-w-100px">
                                                    @Html.DisplayFor(modelItem => item.address)
                                                </td>
                                                <td style="text-align: center;" class="min-w-100px">
                                                    @Html.DisplayFor(modelItem => item.phone)
                                                </td>
                                                <td style="text-align: center;" class="min-w-100px">
                                                    @*<a href="@Url.Action("UserEdit", "Manager", new {id = item.id})"><i class="fa fa-edit btn btn-info btn-sm">Update</i></a>*@
                                                    <a onclick="Delete(@item.id)"><i class="btn btn-danger btn-sm">Delete</i></a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <a href="@Url.Action("Customer_List", "Manager")" class="btn btn-success btn-sm">Back to list</a>
                            </div>
                        </div>
                    </div>


                    @section scripts {

                        <script>
                            $(function () {
                                var successMessage = '@TempData["SuccessMessage"]'

                                if (successMessage != '')
                                    alertify.success(successMessage);
                            });

                            function Delete(id) {
                                alertify.confirm('User Data List', 'Are you sure to delete this record ?', function () {
                                    //window.location.href = '@Url.Action("UserDelete", "api/users/delete")/' + id;
                                    window.location.href = "https://localhost:44326/Manager/CustomerDelete/" + id;
                                }, null);
                            }
                        </script>
                    }

                </div>
                <!--end::Row-->
            </div>
            <!--end::Post-->
        </div>
        <!--end::Container-->
    </div>
</div>