@model IEnumerable<BEL.AdminBookingDetailModel>

@{
    ViewBag.Title = "GetPrintBDetail";
    Layout = "~/Views/Manager/IndexLayout.cshtml";
}

<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="d-flex align-items-center me-3">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                User Created
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1">#XRS-45670</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">

        <!--begin::Row-->
        <div class="row gy-5 gx-xl-8">
            <!--begin::Col-->
            <div class="col-xl-12">
                <!--begin::Tables Widget 9-->
                <div class="card card-xxl-stretch mb-5 mb-xl-8">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder fs-3 mb-1">Salary Create From</span>
                            <span class="text-muted mt-1 fw-bold fs-7">All Salary list</span>
                        </h3>
                    </div>
                    <!--end::Header-->
                    <hr />
                    <!--begin::Body-->
                    <div class="card-body py-3">
                        <!--begin::Table container-->
                        <div class="card-body">

                            <h2>GetPrintBDetail</h2>

                            <h3>Booking Summary for booking id: @ViewData["b_id"]</h3>
                            <hr />
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.booking_id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.service_id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.unit_price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.discount)
                                    </th>
                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.category)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.booking_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.service_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.unit_price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.discount)
                                        </td>
                      
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.category)
                                        </td>
                                    </tr>
                                }

                            </table>

                            <h3>Total Bill: @ViewData["t_cost"]</h3>

                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Post-->
                </div>
            </div>
        </div>
    </div>
</div>
