@model IEnumerable<BEL.ServiceProviderModel>

@{
    ViewBag.Title = "ConfirmBookedService";
    Layout = "~/Views/Manager/IndexLayout.cshtml";
}

<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="d-flex align-items-center me-3">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                Free Time Service Holder
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1">Service Provider Available</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">

        <!--begin::Row-->
        <div class="row gy-5 gx-xl-8">
            <!--begin::Col-->
            <div class="col-xl-12">
                <!--begin::Tables Widget 9-->
                <div class="card card-xxl-stretch mb-5 mb-xl-8">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder fs-3 mb-1">Available Service Holder Information</span>
                        </h3>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body py-3">
                        <!--begin::Table container-->
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                <!--begin::Table head-->
                                <thead>
                                    <tr style="background-color: #E74C3C; color:white !important">
                                        <th style="text-align: center; width:8%;">User Id</th>
                                        <th style="text-align: center;" class="min-w-100px">Phone</th>
                                        <th style="text-align: center;" class="min-w-100px">Work Status</th>
                                        <th style="text-align: center;" class="min-w-100px">Rating</th>
                                        <th style="text-align: center;" class="min-w-100px">Service Done</th>
                                        <th style="text-align: center;" class="min-w-100px">Action</th>
                                    </tr>
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align: center;" class="min-w-100px">
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    @Html.DisplayFor(modelItem => item.user_id)
                                                </span>
                                            </td>
                                            <td style="text-align: center;" class="min-w-100px">
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    @Html.DisplayFor(modelItem => item.phone)
                                                </span>
                                            </td>
                                            <td style="text-align: center;" class="min-w-100px">
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    @Html.DisplayFor(modelItem => item.work_status)
                                                </span>
                                            </td>
                                            <td style="text-align: center;" class="min-w-100px">
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    @Html.DisplayFor(modelItem => item.rating)
                                                </span>
                                            </td>
                                            <td style="text-align: center;" class="min-w-100px">
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    @Html.DisplayFor(modelItem => item.services_done)
                                                </span>
                                            </td>

                                            <td class="text-center">
                                                <a href="@Url.Action("AssignServices", "Manager", new {id = item.id})" class="btn btn-success"> Assign to SP</a>
                                            </td>
                                            
                                        </tr>
                                    }
                                    </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end::Table container-->
                    </div>
                    <!--begin::Body-->
                </div>
                <!--end::Tables Widget 9-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
