@model IEnumerable<BEL.UserModel>

@{
    ViewBag.Title = "UserAllData";
    Layout = "~/Views/Manager/IndexLayout.cshtml";
}

<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="d-flex align-items-center me-3">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                User All Data Information
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1">List View</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">

        <p>
            <a href="@Url.Action("UserAdd", "Manager")" class="btn btn-bg-primary"><i class="fa fa-plus"></i>Create New</a>
        </p>
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.fullname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.usertype)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.verification_status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.id_status)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usertype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.verification_status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_status)
                    </td>
                    <td>
                        <a href="@Url.Action("UserEdit", "Manager", new {id = item.id})" class="btn btn-bg-primary"><i class="fa fa-pencil-alt"></i> Update</a>
                        <a onclick="Delete(@item.id)" class="btn btn-bg-primary"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            }

        </table>

       @* @section scripts{*@
            
            <script>
                $(function () {
                    var successMessage = '@TempData["SuccessMessage"]'

                    if (successMessage != '')
                        alertify.success(successMessage);
                });

                function Delete(id) {
                    alertify.confirm('User Data List', 'Are you sure to delete this record ?', function () {
                        //window.location.href = '@Url.Action("UserDelete", "api/users/delete")/' + id;
                        window.location.href = "https://localhost:44326/Manager/UserDelete/" + id;
                    }, null);
                }
            </script>
       @* }*@

    </div>
    <!--end::Container-->
</div>
<!--end::Post-->