@model Ghor_Sheba.Models.service_provider_status

@{
    ViewBag.Title = "ManageAvailability";
    Layout = "~/Views/ServiceProvider/IndexLayout.cshtml";
}

<title>Availabilty Status</title>
<div id="page-wrapper">
    <h2>Availability Status</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)


            <div class="form-group">
                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="status" name="status">
                        <option>Select Your Status</option>
                        <option>busy</option>
                        <option>available</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>