@model BEL.ServUserModel

@{
    ViewBag.Title = "StatusOfAvailability";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}

<h2>StatusOfAvailability</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ServUserModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)


        <div class="form-group">
            @Html.LabelFor(model => model.work_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="work_status" name="work_status">
                    <option></option>
                    <option>Available</option>
                    <option>Busy</option>
                </select>
                @Html.ValidationMessageFor(model => model.work_status, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
